<div class="mt-2 ml-4 flex-1 transition-all duration-200">
    <!-- hero section -->
    <div class="flex-1 items-center rounded-2xl bg-gradient-to-br from-[#9b87f5] to-white mb-12">
        <div class="py-16 ">
            <h1>Summer Collection</h1>
            <p>Discover our new arrivals with exclusive deals and limited time offers on the season's most trending items.</p>
            <a href="">Shop Now</a>
            <a href="" class="flex gap-[1rem]">
                Explore Collection
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M647-440H160v-80h487L423-744l57-56 320 320-320 320-57-56 224-224Z"/></svg>
            </a>
        </div>

        <div>
            <img src="public/photo-1483985988355-763728e1935b.avif" alt="">
        </div>
    </div>
</div>